.first {
  background-image: url(./images/bg-hero-desktop.svg);
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 70%;
}
.upper {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.below {
  display: flex;
}
.left {
  width: 50%;
  margin: 30px;
  padding: 20px;
}
.right {
  width: 50%;
  margin: 30px;
}
.com {
  width: 500px;
  height: 300px;
}
.second {
  display: flex;
  margin: 50px;

}

.third {
  display: flex;
  margin: 50px;
}
.forth {
  display: flex;
  margin: 50px;
}
.aa {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bb {
  width: 50%;
  display: flex;
  justify-content: center;
}
.aaa {
  width: 50%;
  display: flex;
  justify-content: center;
}
.bbb {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aaaa {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bbbb {
  width: 50%;
  display: flex;
  justify-content: center;
}