body {
  padding: 0px;
}
.first {
  background-image: url(./images/bg-hero-desktop.svg);
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 70%;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.below {
  display: flex;
}
.left {
  width: 50%;
  margin: 30px;
  padding: 20px;
}
.right {
  width: 50%;
  margin: 30px;
}
.com {
  width: 500px;
  height: 300px;
}
.second {
  display: flex;
  margin: 10px;
}

.third {
  display: flex;
  margin: 10px;
}
.forth {
  display: flex;
  margin: 10px;
}
.aa {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bb {
  width: 50%;
  display: flex;
  justify-content: center;
}
.aaa {
  width: 50%;
  display: flex;
  justify-content: center;
}
.bbb {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aaaa {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bbbb {
  width: 50%;
  display: flex;
  justify-content: center;
}
.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 500px;
  height: 140px;
  background-color: white;
}
.fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back {
  background-color: hsl(192, 100%, 9%);
  color: white;
  margin-top: -50px;
}
.l {
  display: flex;
  align-items: center;
  font-size: 10px;
}
.m {
  display: flex;
  align-items: center;
  font-size: 10px;
}
.p {
  display: flex;
  align-items: center;
  font-size: 10px;
}
a {
  color: white;
}
.lower {
  display: flex;
  justify-content: space-around;
}
.c1 {
  margin-left: 70px;
}
.info {
  margin: 5px;
}
.c2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 100px;
  justify-content: inherit;
  text-decoration: none;
}
.c3 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 100px;
  justify-content: inherit;
}
.c4 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: space-between;
}
a:hover {
  color: hsl(322, 100%, 66%);
}
@media screen and (max-width: 375px) {
  .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .below {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .right {
    display: flex;
    justify-content: center;
  }
  .second {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .forth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .fifth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lower {
    display: flex;
    flex-direction: column;
  }
  .info {
    margin-top: 50px;
  }
  .c1 {
    display: flex;
  }
  .c2 {
    display: contents;
  }
  .c3 {
    display: contents;
  }
  .c4 {
    display: contents;
  }
  .front {
    display: flex;
    align-items: center;
    width: 90%;
    font-size: 12px;
  }
  a {
    padding: 10px;
    text-decoration: none;
  }
}
